<h1>Zmiana hasła</h1>

<% form_for @user, :url => {:action => "update", :id => params[:id]} do |f| %>
  <%= f.error_messages %>
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %><br />
  <br />
  <%= f.submit "Zaktualizuj moje hasło i zaloguj mnie" %>
<% end %>  