<%= stylesheet_link_tag "style_for_no_right_panel" %>
<h1>Zmiana hasła</h1>

<% form_for @user, :url => {:action => "update", :id => params[:id]} do |f| %>
  <%= f.error_messages %>
  <%= f.label :password, "Hasło:"%><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.label :password_confirmation,"Powtórzenie hasła:" %><br />
  <%= f.password_field :password_confirmation %><br />
  <br />
  <%= f.submit "Zmień hasło" %>
<% end %>  