<%= render :partial => "home/home_options" %>
<%= render :partial => "products/search_box" %>
<% for article in @articles %>
<h3><%= article.title %></h3>
<span style="font-size:10px; float:left;">Utworzono: 
<%=h article.created_at.strftime("%d-%m-%Y  %H:%m") %>
</span>
<br /><br />
 <p><%= article.text %></p>
 <br /><br /><br />
<% end %>