  <%= f.error_messages %>
  <p>
    <%= f.label :obowiązuje_od %><br />
    <%= f.datetime_select :from %>
  </p><br />
  <p>
    <%= f.label :obowiązuje_do %><br />
    <%= f.datetime_select :to %>
  </p><br />
  <p>
    <%= f.label :podstawa_zapłaty %><br />
    <%= f.text_field :base_payment %>
  </p><br />
  <p>
    <%= f.label :górna_granica %><br />
    <%= f.text_field :upper_boundary %>
  </p><br />
  <p>
    <%= f.label :procent %><br />
    <%= f.text_field :percentage %>
  </p><br />
  <p><%= f.submit "Dodaj" %></p>

