<%= render :partial => "payment_politics/payment_politics_options" %>
<%= render :partial=> "products/search_box_simple" %>
<h1>Zarządzanie politykami</h1>

<table id="TabFullSize">
  <tr>
    <td class="header">From</td>
    <td class="header">To</td>
    <td class="header">Base Payment</td>
    <td class="header">Upper Boundary</td>
    <td class="header">Percentage</td>
  </tr>
  <% for payment_politic in @payment_politics %>
    <tr>
      <td><%=h payment_politic.from %></td>
      <td><%=h payment_politic.to %></td>
      <td><%=h payment_politic.base_payment %></td>
      <td><%=h payment_politic.upper_boundary %></td>
      <td><%=h payment_politic.percentage %></td>
      <td><%= link_to "Show", payment_politic %></td>
      <td><%= link_to "Edit", edit_payment_politic_path(payment_politic) %></td>
      <td><%= link_to "Destroy", payment_politic, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
