<%= render :partial=> "products/search_box_simple" %>
<%= render :partial => "payment_politics/menu" %>
<h1>Zarządzanie politykami</h1>

<table id="TabFullSize">
  <tr>
    <td class="header">Obowiązuje od</td>
    <td class="header">Obowiązuje do</td>
    <td class="header">Podstawowa opłata</td>
    <td class="header">Górna granica</td>
    <td class="header">Procent</td>
  </tr>
  <% for payment_politic in @payment_politics %>
    <tr>
      <td><%=h payment_politic.from %></td>
      <td><%=h payment_politic.to %></td>
      <td><%=h payment_politic.base_payment %></td>
      <td><%=h payment_politic.upper_boundary %></td>
      <td><%=h payment_politic.percentage %></td>
      <td><%= link_to "Pokaż", payment_politic %></td>
      <td><%= link_to "Edytuj", edit_payment_politic_path(payment_politic) %></td>
      <td><%= link_to "Usuń", payment_politic, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
