<%= render :partial => "payment_politics/menu" %>
<h1>Szczegóły polityki</h1>

<table>
  <tr>
    <td width="200" class="bold">Obowiązuje od:</td>
    <td><%=h @payment_politic.from.strftime("%d-%m-%Y %H:%m") %></td>
  </tr>
  <tr>
    <td class="bold">Obowiązuje do:</td>
    <td><%=h @payment_politic.to.strftime("%d-%m-%Y %H:%m") %></td>
  </tr>
  <tr>
    <td class="bold">Dolna granica ceny:</td>
    <td><%=h '%.2f' % @payment_politic.base_payment %> zł</td>
  </tr>
  <tr>
    <td class="bold">Górna granica ceny:</td>
    <td><%=h '%.2f'% @payment_politic.upper_boundary %> zł</td>
</tr>
<tr>
    <td class="bold">Procent:</td>
    <td><%=h @payment_politic.percentage %>  %</td>
</tr>
</table>
<center>
<%= link_to "Zobacz wszystkie", payment_politics_path %> |
<%= link_to "Edytuj", {:action => :edit, :id => @payment_politic.id} %>
</center>

