<%= render :partial => "users/user_account_options"  %>
<h1>Edycja konta</h1>
 
<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.hidden_field :activation_token, :value => @user.activation_token %>
  <br />
  <%= f.submit "Update" %>
<% end %>
 
<br /><%= link_to "My Profile", account_path %>