<% form_for :search, {:action=>"index"} do |f|%>
<div  class="boxcontainer searcher">
    <div class="box" style="float:left">
      <%= f.label :login_like, "Login:"%>
      <%= f.text_field :login_like%>
    </div>
    <div class="box" style="float:right">
      <%= f.label  :last_login_ip_equals, "IP ostatniego log:"%>
      <%= f.text_field :last_login_ip_equals%>
    </div>
    <div class="box" style="float:left">
      <%= f.label  :first_name_like, "Imię:"%>
      <%= f.text_field :first_name_like%>
    </div>
    <div class="box" style="float:right">
      <%= f.label  :first_name_like, "Nazwisko:"%>
      <%= f.text_field :surname_like%>
    </div>
  <div class="box" style="float:left">
        <%= f.label :roles %>
        <div class="checkboxes" style="float:right; width:215px;">
            <% for role in @roles %>
                        <%= check_box_tag("search[roles_attributes][]",role.id,  params[:search] && params[:search][:roles_attributes] && params[:search][:roles_attributes].include?(role.id.to_s)) %>
                        <%= role.name %>
                        <br />
            <% end %>
        </div>
  </div>
  <div class="box" style="float:right">
        <%= f.label  :interests %>
        <div class="checkboxes" style="float:right; width:215px;">
            <% for interest in Interest.all %>
                    <%= check_box_tag("search[interests_attributes][]",interest.id,  params[:search] && params[:search][:interests_attributes] && params[:search][:interests_attributes].include?(interest.id.to_s)) %>
                    <%= interest.name %>
                    <br/>
            <% end %>
         </div>
  </div>
  <div class="box" ><br /><%=f.submit "Szukaj" %></div>
 

</div>
<br /><br />
<% end %>
