<%= render :partial=> "products/search_box_simple" %>
<% if @user.id==current_user.id %>
<%= render :partial => "users/menu"  %>
<% else %>
<%= stylesheet_link_tag "style_for_no_right_panel" %>
<%end%>
<h1>Szczegóły konta</h1>

<table class="TabValuesContainer">
  <tr>
    <td class="boldColl">Login: </td>
    <td><%=h @user.login %></td>
  </tr>
  <tr>
    <td class="boldColl">E-mail: </td>
    <td><%=h @user.email %></td>
  </tr>
  <tr>
    <td  class="boldColl">Liczba logowań:</td>
    <td><%=h @user.login_count %></td>
  </tr>
  <tr>
    <td  class="boldColl">Ostatnie żądanie:</td>
    <td><%=h @user.last_request_at.strftime("%d-%m-%Y") %></td>
  </tr>
    <tr>
    <td  class="boldColl">Ostatnie logowanie:</td>
    <td><%=h @user.last_login_at.strftime("%d-%m-%Y") %></td>
  </tr>
    <tr>
    <td  class="boldColl">IP ostatniego logowania:</td>
    <td><%=h @user.last_login_ip %></td>
  </tr>
  <tr>
    <td  class="boldColl">Aktualne IP:</td>
    <td><%=h @user.current_login_ip %></td>
  </tr>
  <% if @user.has_role?(:not_activated)%>
	  <tr>
	    <td  class="boldColl">LINK AKTYWACYJNY:</td>
	    <td><%=link_to @controller.generate_activation_url(@user), :url => @controller.generate_activation_url(@user)%></td>
	  </tr>
  <%end%>
  <tr>
    <td  class="boldColl">Zainteresowania:</td>
    <td>
      <ul>
      <% @user.interests.each do |inter| %>
			<li><%=inter.name %></li>
  	<% end %>
      </ul>
    </td>
  </tr>
</table>

<% if (current_user.is_admin?) %>
<br /><br />
<center>
Użytkownik: <%= link_to "Role", {:controller => "roles", :action => "manage", :user_id => @user.id} %> |
Założone aukcje | Licytowane aukcje | Obserwowane aukcje
</center>
<% end %>

