<%= stylesheet_link_tag "style_for_no_right_panel" %>
<%= render :partial => "search" %>
<h1> Zarządzaj aukcjami archiwalnymi</h1>
<%= will_paginate @auctions, :params => {:search => params[:search]}, :class=>"paginate" %>
<table id="TabFullSize">
  <tr>
    <td class="header">Nr aukcji</td>
    <td class="header">Typ aukcji</td>
    <td class="header">Początek</td>
    <td class="header">Koniec</td>
    <td class="header">Aktualna cena</td>
    <td class="header">Aktywna</td>
    <td class="header">Pokaż</td>
    <td class="header">Usuń</td>
  </tr>
  <% for archival_auctions in @archival_auctions  %>
    <tr>
      <td><%=h archival_auctions.id %></td>
      <td><% if archival_auctions.buy_now_price>0 %>Kup teraz
          <% else %>Licytacja<br /> 
          &nbsp;&nbsp; - Cena min: <%='%.2f' % archival_auctions.minimal_price%> zł<br />
          &nbsp;&nbsp; - Min podbicie ceny: <%= '%.2f' % archival_auctions.minimal_bidding_difference%> zł
          <% end %>
      </td>
      <td><%=h archival_auctions.start.strftime("%d-%m-%Y %H:%m") %></td>
      <td><%=h archival_auctions.auction_end.strftime("%d-%m-%Y %H:%m") %></td>
      <td>
          <%  if (archival_auctions.buy_now_price>0) %><img src="images/dolar.png" />
                  <% else %><img src="images/auction.png" />
                  <%end%>
          <%= '%.2f' % archival_auctions.current_price %></td>
      <td><% if archival_auctions.activated %>tak<% else %> nie <% end %> </td>
      <td><%=link_to "Pokaż", :controller => "products", :action => "show",:name=>"show", :id=>archival_auctions.id %></td>
      <td>
<center><%=link_to image_tag("delete.png", :border=>0), :controller => "products", :action => "delete",:name=>"delete", :id=>archival_auctions.id, :confirm => "Czy jesteś pewien ?"%></center>
    </tr>
  <% end %>
</table>

