<%= stylesheet_link_tag "style_for_no_right_panel" %>
<h1>Archiwalna aukcja</h1>
<%= @archival_auctions.id %>



<div class="content_menu">
  <%= link_to "Edytuj", :action=>"edit" %> |
  <%= link_to "Usuń", @archival_auctions, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Pokaż wszystkie", archival_auctions_path %>
</div>
