<%= render :partial=> "products/search_box_simple" %>
<%= stylesheet_link_tag "style_for_no_right_panel" %>
<h1> Zarządzanie rolami użytkownika: <b style="color:#92DF01"> <%= @user.login%></b></h1>

<center>
  [<%= link_to "Wróć do listy użytkowników", :action=>"index", :controller=>"users" %>]
</center><br /><br />
<% form_for @user, :url => "updateRoles" do |user_form| %>
<%= user_form.error_messages %>
<table width="100%">
  <tr>
    <td valign="top"><%= render :partial=>"roles/manage_user_roles" %></td>
    <td>&nbsp;&nbsp;</td>
    <td valign="top"><%= render :partial=>"roles/manage_other_roles" %></td>

  </tr>
</table>



    
	<%= user_form.hidden_field :id, :value => @user.id %>
<%end%>


<!--< collection_select :user, :role_ids, @roles, :id, :name, { :selected => @user.role_ids }, { :multiple => true, :name => 'user[role_ids][]' } -%> -->