   <table id="TabFullSize">
       <tr>
            <td class="header">Nr aukcji</td>
            <td class="header">Typ reklamy</td>
            <td class="header">Pagerank</td>
            <td class="header">Użytkownicy dziennie</td>
            <td class="header">Ostatnia oferta</td>
            <td class="header">Twoja oferta</td>
            <td class="header">Pokaż</td>
      </tr>
      <% @auctions.each do |auction|%>
      <tr>
            <td><%=  auction.auction_id %></td>
            <td><%=  auction.auctionable_type %></td>
            <td></td>
            <td></td>
            <td><%=  auction.current_price %></td>
            <% if auction.offered_price.to_f > auction.current_price.to_f  %>
                <td  style="background:#7ed464"><b><%= auction.offered_price %></b></td>
            <% else %>
                <td  style="background:#fd3232"><b><%= auction.offered_price %></b> </td>
            <% end %>
            <td><%=link_to "Pokaż aukcję", :controller => "products", :action => "show",:id => auction.auctionable_id,  :product_type => auction.auctionable_type%></td>
      </tr>
      <% end %>
   </table>
