   <table id="TabFullSize">
       <tr>
            <td class="header">Nr aukcji</td>
            <td class="header">Typ reklamy</td>
            <td class="header">Ostatnia oferta</td>
            <td class="header">Twoja oferta</td>
            <td class="header">Pokaż</td>
      </tr>
      <% @auctions.each do |auction|%>
      <tr>
            <td><%=  auction.auction_id %></td>
            <td><%=  auction.auctionable_type %></td>
            <td><%= '%.2f' % auction.current_price %> zł</td>
            <% if auction.offered_price.to_f > auction.current_price.to_f  %>
                <td  style="background:#7ed464"><b><%= '%.2f' % auction.offered_price.round(2) %></b> zł</td>
            <% else %>
                <td  style="background:#fd3232"><b><%= '%.2f' %  auction.offered_price.round(2) %></b> zł</td>
            <% end %>
            <td><%=link_to "Pokaż", :controller => "products", :action => "show",:id => auction.auctionable_id,  :product_type => auction.auctionable_type%></td>
      </tr>
      <% end %>
   </table>
