<table id="TabFullSize">
    <tr>
        <td class="header">Nr aukcji</td>
        <td class="header">Adres</td>
        <td class="header">Typ reklamy</td>
        <td class="header">Zakończenie</td>
        <td class="header">Aktualna cena</td>
        <td class="header">Podgląd</td>
        <td class="header">Edytuj</td>
        <td class="header">Usuń</td>
    </tr>
    <% @auctions.each do |auction|%>
    <tr>
        <td><%= auction.id %></td>
        <td>
                <%if !auction.auctionable%>
                <%= auction.auctionable_type%>   <%= auction.auctionable_id%>
                <%end%>
                <% if auction.auctionable and auction.auctionable.attributes.has_key?("url") %>
                        <%= auction.auctionable.url %>
                <%else%>
                        ---
                <%end%>
        </td>
        <td><%=  auction.auctionable.polish_name%></td>
        <td><%= auction.auction_end.strftime("%d-%m-%Y godz.%H:%m") %></td>
        <td><%= auction.current_price%></td>
        <td><%=link_to "Pokaż aukcję", :controller => "products", :action => "show",:id => auction.auctionable_id,  :product_type => auction.auctionable_type%></td>
        <td><%=link_to "Edytuj", :controller => "products", :action => "edit",:id => auction.auctionable_id,  :product_type => auction.auctionable_type%></td>
        <td><%=link_to image_tag("delete.png", :border=>0), :controller => "products", :action => "delete",:name=>"delete", :id => auction.auctionable_id,  :product_type => auction.auctionable_type, :confirm => "Czy jesteś pewien ?"%></td>
    </tr>
    <% end %>
</table>