    <table id="TabListaAukcji">
            <tr>
                    <td class="Header">Strona</td>
                    <td class="Header">Typ reklamy</td>
                    <td class="Header">Zakończenie</td>
                    <td class="Header">Aktualna cena</td>
                    <td class="Header">Podgląd</td>
                    <td class="Header">Podgląd</td>
                    <td class="Header">Usuń</td>
            </tr>
            <% @auctions.each do |auction|%>
            <tr>
                    <td>
                            <%if !auction.auctionable%>
                            <%= auction.auctionable_type%>   <%= auction.auctionable_id%>
                            <%end%>
                            <% if auction.auctionable and auction.auctionable.attributes.has_key?("url") %>
                                    <%= auction.auctionable.url %>
                            <%else%>
                                    ---
                            <%end%>
                    </td>
                    <td>
                                            <%=  auction.auctionable.polish_name%>
                    </td>
                    <td>
                            <%= auction.auction_end.strftime("%d-%m-%Y godz.%H:%m") %>
                    </td>
                    <td>
                            <%= auction.current_price%>
                    </td>
                    <td>
                            <%=link_to "Pokaż aukcję", :controller => "products", :action => "show",:id => auction.auctionable_id,  :product_type => auction.auctionable_type%>
                    </td>
                    <td>
                            <%=link_to "Edytuj", :controller => "products", :action => "edit",:id => auction.auctionable_id,  :product_type => auction.auctionable_type%>
                    </td>
                      <td>
                            <%=link_to "X", :controller => "products", :action => "delete",:id => auction.auctionable_id,  :product_type => auction.auctionable_type, :confirm => "Czy jesteś pewien ?"%>
                    </td>
            </tr>
            <% end %>
    </table>