<%= render :partial=> "products/search_box_simple" %>
<% if @user_id==current_user.id || @user_id==nil%>
    <%= render :partial => "personal/menu_personal" %>
<% else %>
<%= stylesheet_link_tag "style_for_no_right_panel" %>
<% end %>
<h1> Założone aukcje</h1>

<% if @auctions.count.to_int>0 %>
  <%= render :partial => "created_auctions_full" %>
<% else %>
  <%= render :partial => "created_auctions_empty" %>
<% end %>
