<%= render :partial=> "products/search_box_simple" %>
<%= render :partial => "personal/menu_personal" %>
<h1>Śledzone aukcje</h1>
<%= will_paginate @auctions, :params => {:search => params[:search]}, :class=>"paginate" %>
<table id="TabFullSize">
	<tr>
           <td class="header">Nr aukcji</td>
            <td class="header">Typ reklamy</td>
            <td class="header">Zakończenie</td>
            <td class="header">Pozostało</td>
            <td class="header">Ostatnia oferta</td>
            <td class="header">Usuń</td>
            <td class="header">Pokaż</td>
		
	</tr>
	<% @auctions.each do |auction|%>
	<tr>
          
                <td><%=  auction.id %></td>
                <td><%=  auction.auctionable.polish_name %></td>
		<td><%=auction.auction_end.strftime("%d-%m-%Y godz.%H:%m")%></td>
                <td>
                    <% if auction.auction_end>Date.today %>
                    <%=  distance_of_time_in_words(auction.auction_end,Date.today)%>
                    <% else %>
                    -
                    <% end %>
                </td>
		<td>
                 <%  if (auction.buy_now_price>0) %><img src="/images/dolar.png" />
                  <% else %><img src="/images/auction.png" />
                  <%end%>
                  <%= '%.2f' % auction.current_price%> zł
                </td>
                <td><center><%= link_to image_tag("delete.png", :border=>0), :controller=>"products", :action => :unobserve, :id => auction.id, :product_type => auction.auctionable_type%></center></td>
                <td><%=link_to "Pokaż", :controller => "products", :action => "show",:id => auction.auctionable_id,  :product_type => auction.auctionable_type%></td>
	</tr>
	<% end %>
</table>
