<table>
	<tr>
		<td>
			Data
		</td>
		<td>
			Tytułem
		</td>
		<td>
			Opłata
		</td>
		<td>
			Wpłata
		</td>
	</tr>
	<%@saldo.each do |position| %>
	<tr>
		<td>
			<%=position.created_at%>
		</td>
		<td>
			<%if position.class.to_s == "Charge" %>
				Aukcja nr <%= position.chargeable_id %>
			<%end%>
		</td>
		
			<%if position.class.to_s == "Charge" %>
				<td>
					<%= position.sum %> zł
				</td>
				<td>
				</td>
			<%else%>
				<td></td>
				<td>
					<%= position.sum %> zł
				</td>
			<%end%>
	</tr>
	<%end if @saldo and @saldo.length > 0%>
	<tr>
		<td>
		</td>
		<td>
			Razem
		</td>
		<td>
			<b>
				<%= @charges.inject(0.0){|b,i| b+i.sum} %>
			</b>
		</td>
		<td>
			<b>
				<%= @payments.inject(0.0){|b,i| b+i.sum} %>
			</b>
		</td>
	</tr>
</table>
