<% if @products.count == 0 %>
Brak aukcji tego typu
<%  else %>
        <table  id="TabFullSize">
        <tr>
          <td>Nr aukcji</td>
          <td>Szczegóły</td>
          <td>Początek</td>
          <td>Koniec</td>
          <td>Pagerank</td>
          <td>Użytkownicy dziennie</td>
          <td>Liczba słów</td>
          <td>Liczba linków</td>
          <td>Aktualna cena</td>
        </tr>

        <% @products.each do |product| %>
        <tr <%  if current_user == product.auction.user %> style="background-color:#cccccc;"<% end %> >
                <td><%= product.auction.id %></td>
                <td><%= link_to "Pokaż", {:action => "show", :id => product.id, :product_type => "sponsored_article"} %></td>
                <td><%=  product.auction.start.strftime("%d-%m-%Y %H:%m") %></td>
                <td><%=  product.auction.auction_end.strftime("%d-%m-%Y %H:%m") %></td>
                <td><%=product.pagerank%></td>
                <td><%=product.users_daily%></td>
                <td><%= product.words_number%></td>
                <td><%= product.number_of_links%></td>
                <td><%=product.auction.current_price %><!--< #TODO! CURRENT PRICE !product.current_price> -->
                    <% if product.auction.buy_now_price>0 %><br /><b>Kup teraz </b><% end %>
                </td>
        </tr>
        <% end %>

        </table>
<% end %>