	<% if @products.count == 0 %>
         Brak aukcji tego typu
<% else %>
<%= will_paginate @products, :params => {:search => params[:search]}, :class=>"paginate" %>
        <table  id="TabFullSize">
        <tr>
          <td>Nr aukcji</td>
          <td><%= link_to "Początek aukcji", :action => 'order_by', :column_name=> 'start', :product_type => "banner", :search => params[:search]%></td>
          <td><%= link_to "Koniec aukcji", :action => 'order_by', :column_name=> 'auction_end', :product_type => "banner", :search => params[:search]%></td>
          <td>Pozostało</td>
          <td><%= link_to "PR", :action => 'order_by', :column_name=> "pagerank", :product_type => "banner", :search => params[:search]%></td>
          <td><%= link_to "Użytkownicy dziennie", :action => 'order_by', :column_name=> "users_daily", :product_type => "banner", :search => params[:search]%></td>
          <td><%= link_to "Aktualna cena", :action => 'order_by', :column_name=> 'current_price', :product_type => "banner", :search => params[:search]%></td>
          <td>(<%= link_to "Szer", :action => 'order_by', :column_name=> "width", :product_type => "banner", :search => params[:search]%>,
          <%= link_to "Wys", :action => 'order_by', :column_name=> "height", :product_type => "banner", :search => params[:search]%>)</td>
          <td><%= link_to "Częśtość wyświetlania", :action => 'order_by', :column_name=> "frequency", :product_type => "banner", :search => params[:search]%></td>
          <td>Położenie</td>
          <td>Pokaż</td>
        </tr>

        <% @products.each do |product| %>
        <tr <%  if current_user == product.auction.user %> style="background-color:#cccccc;"<% end %> >
                <td><%= product.auction.id %></td>
                <td><%=product.auction.start.strftime("%d-%m-%Y %H:%m")%></td>
                <td><%=product.auction.auction_end.strftime("%d-%m-%Y %H:%m")%></td>
                 <td>
                   <% if product.auction.auction_end>Date.today %>
                    <%=  distance_of_time_in_words(product.auction.auction_end,Date.today)%>
                    <% else %>
                    -
                    <% end %>

                </td>
                <td><%=product.pagerank%></td>
                <td><%=product.users_daily%></td>
                                <td>  <%  if (product.auction.buy_now_price>0) %><img src="images/dolar.png" />
                  <% else %><img src="images/auction.png" />
                  <%end%>
                  <%= '%.2f' % product.auction.current_price %> zł<!--< #TODO! CURRENT PRICE !product.current_price> -->
                    <% if product.auction.buy_now_price>0 %><br /><b>Kup teraz </b><% end %>
                </td>
                <td>(<%= product.width%>,
                    <%= product.height%>)</td>
                <td><%= product.frequency%></td>
                <td>(<%= product.x_pos%> , <%= product.y_pos%>)</td>
                <td><%= link_to "Pokaż", {:action => "show", :id => product.id, :product_type => "banner"} %></td>
        </tr>
        <% end %>

        </table>
<% end  %>