<% if @products.count == 0 %>
      Brak aukcji tego typu
<% else %>
        <table  id="TabFullSize">
        <tr>
           <td>Szczegóły</td>
          <td>Początek aukcji</td>
          <td>Koniec aukcji</td>
          <td>PR</td>
          <td>Użytkownicy dziennie</td>
          <td>Aktualna cena</td>
          <td>(Szer,Wys)</td>
        </tr>

        <% @products.each do |product| %>
        <tr <%  if current_user == product.auction.user %> style="background-color:#cccccc;"<% end %> >
                <td><%= link_to "Pokaż", {:action => "show", :id => product.id, :product_type => "pop_up"} %></td>
                <td><%=product.auction.start%></td>
                <td><%=product.auction.auction_end%></td>
                <td><%=product.pagerank%></td>
                <td><%=product.users_daily%></td>
                <td>(<%= product.width%>, <%= product.height%>)</td>
                <td><%=product.auction.current_price %><!--< #TODO! CURRENT PRICE !product.current_price> -->
                    <% if product.auction.buy_now_price>0 %><br /><b>Kup teraz </b><% end %>
                </td>
        </tr>
        <% end %>

        </table>
<% end %>