<% content_for :search_box do %>
        <div class="search">
           <% form_tag(search_path, :method => "get") do %>
          <table>
            <tr>
              <td style="width:265px;">
                  Typ reklamy:
<% @options = {:Link => 'SiteLink' , :Banner => 'Banner', :PopUp => 'PopUp', :Artykuł =>'SponsoredArticle'} %>
<%= select_tag(:product_type, options_for_select(@options)) %>
              </td>
              <td style="width:60px; height:20px;">Kategoria: </td><td style="width:315px;">
                  
                       <select id="search_categories" name="search[categories_attributes]">
                         <% for category in Category.all %>
                                <option value="<%= category.id.to_s %>"><%=category.name%></option>
                         <%end%>
                       </select>

              </td>
              <td  class="bottom_simple_box" align="right">
                  <%= submit_tag "Szukaj" %>
                  <%= link_to "Zaawansowane wyszukiwanie", {:search_type=>"advanced", :action => "index",:controller=>"products", :product_type => "site_link", :search => params[:search]} %></a>
              </td>
            </tr>
          </table>

        </div>
        <% end %>
<% end %>