<table id="TabProduct">
		  <tr>
                        <td class="boldColl">Nr aukcji:</td>
                        <td><%=  @product.auction.id %> </td>
                  </tr><tr>
   			<td class="boldColl">Typ sprzedaży:</td>
                        <td><b style="color:green">
                        <% if  @product.auction.buy_now_price>0 %> Kup teraz
                        <% else %> Licytacja
                        <% end %>
                         </b>
                        </td>
  		  </tr>

	<% if  @product.auction.buy_now_price>0 %>
		  <tr>
   			<td class="boldColl">Cena:</td>
   			<td> <%= '%.2f' % @product.auction.buy_now_price.to_s%> zł</td>
  		  </tr>
	<%else%>
		  <tr>
    		<td class="boldColl">Najwyższa oferta:</td>
   			<td><b style="color:red"> <%= '%.2f' % @product.auction.current_price.to_s%> zł</b></td>
  		  </tr>	
  	     <tr>
    		<td class="boldColl">Minimalne podbicie:</td>
   			<td> <%= '%.2f' % @product.auction.minimal_bidding_difference.to_s %> zł</td>
  		 </tr>
	<%end%>
  <tr>
    <td class="boldColl">Czas trwania aukcji:</td>
   <td> <b>
       <%= @product.auction.start.strftime("%d-%m-%Y") %></b> do
		<b><%= @product.auction.auction_end.strftime("%d-%m-%Y") %> </b>
                 (<%= distance_of_time_in_words(@product.auction.auction_end,@product.auction.start)%>)
   </td>
  </tr>
 <tr>
    <td class="boldColl">Pozostało:</td>
    <td><%= distance_of_time_in_words(@product.auction.auction_end,Date.today)%>
   </td>
  </tr>
  <tr>
    <td class="boldColl">Status aukcji:</td>
   <td> <b><% if @product.auction.auction_end<Date.today  %>
       Zakończona
       <% elsif @product.auction.activated==false%>
       Niezaktywowana
       <% else %>
       Aktywna
       <% end %>


     </b>
   </td>
  </tr>
</table>
<center><% link_to "Zarządzanie aukcjami", "personal/index"  %> </center>
