<div class="box" style="
      margin-top:20px;
      width:280px;
      float:right;
      padding:10px;
      border: 1px solid gray;
      background:#A1D636;
      -moz-border-radius: 5px;
      border-radius: 5px;">
                    <center><b>OFERTY</b></center><br />
                    <% if @product.auction.bids.not_cancelled.by_offered_price.count > 0 %>
                              <% @product.auction.bids.not_cancelled.by_offered_price.each do |bid| %>
                                      <b style='color:red'><%= bid.offered_price %> zł</b>
                                      <%  if current_user.is_admin? or current_user.id == bid.user.id %>
                                          od <%= bid.user.login %>
                                      <%else %>
                                          od X
                                      <% end %>
                                      (<i><%= bid.user.created_at.strftime("%d-%m-%Y godz. %H:%m")%></i>)

                                      <% if current_user and current_user.id == bid.user.id%>
                                          <%if !bid.asking_for_cancellation and !bid.cancelled %>
                                              <br />
                                              <%=link_to "poproś o unieważnienie", :action => :ask_for_bid_cancellation, :bid_id => bid.id, :product_type => @product.class.to_s, :id=>@product.id%>
                                          <%end%>
                                      <%end%>
                                      <%if bid.asking_for_cancellation and current_user and (current_user.has_role?(:admin) or (bid.auction.user.id == current_user.id)) %>
                                              <br />
                                              <%=link_to "anuluj", :action => :cancell_bid, :decision => true, :id=>@product.id, :bid_id => bid.id, :product_type => @product.class.to_s%>
                                              <%=link_to "odrzuć anulowanie", :action => :cancell_bid, :decision => false, :id=>@product.id, :bid_id => bid.id, :product_type => @product.class.to_s  if bid.asking_for_cancellation%>
                                      <%end%>
                                      <br /><br />
                              <% end %>
                     <% else %>
                     <center><i>Brak</i></center>
                     <% end %>
               </div>