<div class="bidbox">
        <center><b>LICYTUJ</b></center><br />
        <%form_for @bid, :url => {:action => "bid", :product_id => @product.id, :product_type => @controller.product_type} do |bid_form|%>
            <%=bid_form.error_messages%>
            <%=bid_form.hidden_field :auction_id, :value => @product.auction.id %>
            <%=bid_form.hidden_field :user_id, :value => current_user.id %>
            <table border="0" style="width:230px">
            <tr>
             <td><%=bid_form.label "Oferowana cena:"%> </td>
             <td>
               <% if @product.auction.buy_now_price > 0 %>
                  <%=bid_form.text_field :inactive_label_price,:value => @product.auction.buy_now_price, :disabled => true,:class=>"inputCena" %>
                  <%=bid_form.hidden_field :offered_price, :value => @product.auction.buy_now_price%>
            <%else%>
                  <%=bid_form.text_field :offered_price, :value=> '%.2f' %@product.auction.minimal_bid.to_s, :size=>8%>
            <% end %>
             </td>
             <td>&nbsp;&nbsp; zł</td>
            </tr>
            </table><br />

            <% if @product.auction.buy_now_price == 0 %>
                  <b>Uwaga:</b> Możesz zaoferować wyższą kwote
                  <br /><br />
            <% end %>

            <% if @product.auction.buy_now_price == 0 %>
                <%=bid_form.submit "Licytuj"%>
            <%else %>
                <%=bid_form.submit "Kup teraz"%>
            <%end%>

        <% end %>
</div>

