<html>
	<head>
	<%= javascript_include_tag "tiny_mce/tiny_mce" %>
		<script type="text/javascript" >
			tinyMCE.init({
				mode:"textareas", 
				editor_selector : "tiny_mce"
			});  
		</script> 
	</head>
<body>
<%= render :partial => "/personal/menu_personal" %>
<h1> Edycja aukcji</h1>
	
<% form_for  @product, :url => {:action => "update", :product_type => @controller.product_type} do |form| %>
	<%= form.error_messages %>
		
		<%= render :partial => "form_#{@controller.product_type.classify}", :locals => {:form => form}%>
		
		<% form.fields_for :auction do |auction_form| %>
			<%= auction_form.error_messages %>
			<%= render :partial => "form_edit", :locals => {:auction_form => auction_form}%>
			<%= auction_form.hidden_field :id,  :value => @product.auction.id%>
		<% end %>
		<%= form.hidden_field :id,  :value => @product.id%>
		
		<%= form.submit "Zapisz zmiany" %>

<% end %>

