<%= render :partial=> "products/search_box_admin" %>
<%= stylesheet_link_tag "protucts" %>
<%= stylesheet_link_tag "style_for_no_right_panel" %>
<h1>Administracja aukcjami</h1>
<%= will_paginate @auctions, :params => {:search => params[:search]}, :class=>"paginate" %>
 <table id="TabFullSize">
            <tr>
                    <td class="header">Nr</td>
                    <td class="header">Typ aukcji</td>
                    <td class="header">Użytkownik</td>
                    <td class="header">Start</td>
                    <td class="header">Koniec</td>
                    <td class="header">Aktywna</td>
                    <td class="header">Aktualna</td>
                    <td class="header">Edytuj</td>
                    <td class="header">Usuń</td>
                    <td class="header">Pokaż</td>

					
            </tr>

<% @auctions.each do |a| %>
            <tr>
            <td><%= a.id %></td>
            <td><%= a.auctionable_type %></td>
            <td><%= link_to a.user.login, {:action => "show",:controller=>"users", :id => a.user.id}%></td>
            <td><%=a.start.strftime("%d-%m-%Y %H:%m")%></td>
            <td><%=a.auction_end.strftime("%d-%m-%Y %H:%m")%></td>
            <td>
              <% if a.activated %> tak
              <% else %> nie
              <% end %>
            </td>
            <td>
                <%  if (a.buy_now_price>0) %><img src="/images/dolar.png" />
                  <% else %><img src="/images/auction.png" />
                  <%end%>
                  <%= '%.2f' % a.current_price %> zł<!--< #TODO! CURRENT PRICE !product.current_price> -->
            </td>
            <td><%=link_to "Edytuj", :controller => "products", :action => "edit",:id => a.auctionable_id,  :product_type => a.auctionable_type%></td>
            <td><center><%=link_to image_tag("delete.png", :border=>0), :controller => "products", :action => "delete",:name=>"delete", :id => a.auctionable_id,  :product_type => a.auctionable_type, :confirm => "Czy jesteś pewien ?"%></center></td>
            <td><%= link_to "Pokaż", {:action => "show", :id => a.auctionable.id, :product_type => a.auctionable_type}%>
            </td>
            </tr>

<% end %>

 </table>