<%= render :partial=> "products/search_box_simple" %>
<%= stylesheet_link_tag "products" %>
<% render :partial => "/personal/menu_personal" %>
<h1>Szczegóły aukcji </h1>

<div class="boxcondainer">
      <% if current_user%>
            <div class="box" style=" width:280px; float:right;">
                  <% if @product.auction and current_user != @product.auction.user%>
                          <%= render :partial => "products/show_observebuttonbox" %>
                          <%= render :partial => "products/show_bidbox" %>
                  <% end %>
                  <% if @product.auction.buy_now_price == 0 %>
                         <%= render :partial => "products/show_offersbox" %>
                         <%= render :partial => "products/show_cancelbox" %>
                  <% end %>
            </div>
      <%end%>
</div>
	   


      <!-- Wszystkie dane aukcji  -->
      <div class="box" style="float:left; width:460px;">


            <h2>Dane produktu:</h2>
            <%= render :partial => "show_#{@product.class}"%>
            <h2>Dane aukcji:</h2>
            <%= render :partial => "show"%>

            <h2>Kategorie produktu:</h2>
            <%= render :partial=>"categories/show_assigned_categories" %>

        </div>

</div>
