<%= render :partial=> "products/search_box_simple" %>
<%= stylesheet_link_tag "products" %>
<% render :partial => "product_options" %>
<h1>Szczegóły aukcji</h1>

<div class="boxcondainer">

      <!-- Okna licytacji, ofert i ofert owołanch  -->
<% if current_user%>
      <div class="box" style=" width:280px; float:right;">
            <% if @product.auction.buy_now_price == 0 %>
              <div style=" width:280px; float:right;padding:10px; border: 1px solid gray; background:#f7e0e0;  -moz-border-radius: 5px;border-radius: 5px;">
              <center style="font-size:20px"> Aktualna cena:<b style="color:red"> <%=@product.auction.current_price.to_s%> zł</b></center>
              </div>
             
            <%end%>
            <% if @product.auction and current_user != @product.auction.user%>
                <div style="margin-top:20px; width:280px; float:right;padding:10px; border: 1px solid gray; background:#FFF286;  -moz-border-radius: 5px;border-radius: 5px;">
                        <center><b>LICYTUJ</b></center><br />
                        <%form_for @bid, :url => {:action => "bid", :product_id => @product.id, :product_type => @controller.product_type} do |bid_form|%>
                            <%=bid_form.error_messages%>
                            <%=bid_form.hidden_field :auction_id, :value => @product.auction.id %>
                            <%=bid_form.hidden_field :user_id, :value => current_user.id %>

                            <table border="0" style="width:230px">
                            <tr>
                             <td><%=bid_form.label "Oferowana cena:"%> </td>
                             <td>
                               <% if @product.auction.buy_now_price > 0 %>
                                  <%=bid_form.text_field :inactive_label_price,:value => @product.auction.buy_now_price, :disabled => true,:class=>"inputCena" %>
                                  <%=bid_form.hidden_field :offered_price, :value => @product.auction.buy_now_price%>
                            <%else%>
                                  <%=bid_form.text_field :offered_price,:class=>"inputCena" %>
                            <% end %>
                             </td>
                             <td>&nbsp;&nbsp; zł</td>
                            </tr>
                            </table><br />

                            <% if @product.auction.buy_now_price == 0 %>
                                  <i>(Min.podbicie ceny: <%=bid_form.label number_to_currency(@product.auction.minimal_bid.to_s, :unit => "zł ", :separator => ",", :delimeter => " ")%>)</i><br/>
                                  <br />
                            <% end %>

                            <% if @product.auction.buy_now_price == 0 %>
                                <%=bid_form.submit "Licytuj"%>
                            <%else %>
                                <%=bid_form.submit "Kup teraz"%>
                            <%end%>

                        <% end %>
                </div>
                <br />
          <%end%>
                <% if @product.auction.buy_now_price == 0 %>
                <div class="box" style="margin-top:20px;  width:280px; float:right;padding:10px; border: 1px solid gray; background:#A1D636;  -moz-border-radius: 5px;border-radius: 5px;">
                    <center><b>OFERTY</b></center><br />
                    <% if @product.auction.bids.not_cancelled.by_offered_price.count > 0 %>
                              <% @product.auction.bids.not_cancelled.by_offered_price.each do |bid| %>
                                      <b style='color:red'><%= bid.offered_price %> zł</b>
                                      <%  if current_user.is_admin? or current_user.id == bid.user.id %>
                                          od <%= bid.user.login %>
                                      <%else %>
                                          od X
                                      <% end %>
                                      (<i><%= bid.user.created_at.strftime("%d-%m-%Y godz. %H:%m")%></i>)

                                      <% if current_user and current_user.id == bid.user.id%>
                                          <%if !bid.asking_for_cancellation and !bid.cancelled %>
                                              <br />
                                              <%=link_to "poproś o unieważnienie", :action => :ask_for_bid_cancellation, :id=>@product.id, :bid_id => bid.id, :product_type => @product.class.to_s%>
                                          <%end%>
                                      <%end%>
                                      <%if bid.asking_for_cancellation and current_user and (current_user.has_role?(:admin) or (bid.auction.user.id == current_user.id)) %>
                                              <br />
                                              <%=link_to "anuluj", :action => :cancell_bid, :decision => true, :id=>@product.id, :bid_id => bid.id, :product_type => @product.class.to_s%>
                                              <%=link_to "odrzuć anulowanie", :action => :cancell_bid, :decision => false, :id=>@product.id, :bid_id => bid.id, :product_type => @product.class.to_s  if bid.asking_for_cancellation%>
                                      <%end%>
                                      <br /><br />
                              <% end %>
                     <% else %>
                     <center><i>Brak</i></center>
                     <% end %>
               </div>
               <div class="box" style="margin-top:20px;  width:280px; float:right;padding:10px; border: 1px solid gray; background:#cccccc;  -moz-border-radius: 5px;border-radius: 5px;">
                    <center><b>ODWOŁANE</b></center><br />
                    <% if @product.auction.bids.cancelled.by_offered_price.count>0 %>
                          <% @product.auction.bids.cancelled.by_offered_price.each do |bid| %>
                                  <b style='color:red'><%= bid.offered_price %> zł</b>
                                      <%  if current_user.is_admin? or current_user.id == bid.user.id %>
                                          od <%= bid.user.login %>
                                      <% else %>
                                          od X
                                      <% end %>
                                  (<i><%= bid.user.created_at.strftime("%d-%m-%Y godz. %H:%m")%></i>)
                                  <br />
                          <% end %>
                     <% else %>
                                  <center><i>Brak</i></center>
                     <%end%><% end %>
                  </div>
      </div>
	   <%end%>


      <!-- Wszystkie dane aukcji  -->
      <div class="box" style="float:left; width:460px;">


            <h2>Dane produktu:</h2>
            <%= render :partial => "show_#{@product.class}"%>
            <h2>Dane aukcji:</h2>
            <%= render :partial => "show"%>

            <h2>Kategorie produktu:</h2>
            <%= render :partial=>"categories/show_assigned_categories" %>

        </div>

</div>