<%= render :partial=> "products/search_box_simple" %>
<%= stylesheet_link_tag "products" %>
<% render :partial => "/personal/menu_personal" %>
<h1>Szczegóły aukcji </h1>

<div class="boxcondainer">
      <% if current_user%>

      <% if @product.auction and !(@product.auction.buy_now_price > 0 and @product.auction.bids.not_cancelled.count>0 )
          @kup_teraz=true;
      end
      %>

            <div class="box" style=" width:280px; float:right;">
                  <% if @product.auction and current_user != @product.auction.user%>
                          <%= render :partial => "products/show_observebuttonbox" %>
                          <% if !@kup_teraz==false %>
                          <%= render :partial => "products/show_bidbox" %>
                          <% end %>
                  <% end %>
                         <%= render :partial => "products/show_offersbox" %>
                         <%= render :partial => "products/show_cancelbox" %>

            </div>
      <%end%>
</div>
	   


      <!-- Wszystkie dane aukcji  -->
      <div class="box" style="float:left; width:460px;">

            <h2>Dane produktu:</h2>
            <%= render :partial => "show_#{@product.class}"%>
            <h2>Dane aukcji:</h2>
            <%= render :partial => "show"%>

            <h2>Kategorie produktu:</h2>
            <%= render :partial=>"categories/show_assigned_categories" %>

      


            </div>

