<%= render :partial=> "products/search_box_simple" %>
<%= stylesheet_link_tag "products" %>
<%= render :partial => "/home/home_options" %>
<% content_for :stylesheets do %> #step4 {background-color:orange} <% end -%>
<h1>Tworzenie aukcji</h1>
<%= render :partial => "progres_bar" %>

  <h2>Dane produktu:</h2>
  <%= render :partial => "show_#{@product.class}"%>
  <h2>Dane aukcji:</h2>
  <%= render :partial => "show"%>

  <h2>Kategorie produktu:</h2>
  <p>
  <%= render :partial => "/categories/show_assigned_categories" %>
  </p>
  <br /><br />
  <center>
  [<%= link_to "Wróć do listy swoich aukcji", "/personal/created_auctions" %>]
  </center>
