<%= render :partial=> "products/search_box_simple" %>
<%= stylesheet_link_tag "products" %>
<%= render :partial => "/home/home_options" %>
<% content_for :stylesheets do %> #step1 {background-color:orange} <% end -%>

<h1> Dodaj aukcję</h1>

<%= render :partial => "progres_bar" %>


 <ul class="auctionTypes">

                <li><%= link_to "Link", {:action => "wizard_product_data", :product_type => "site_link"} %> </li>
		<li><%= link_to "Banner", {:action => "wizard_product_data", :product_type => "banner"} %></li>
                <li><%= link_to "Pop-up", {:action => "wizard_product_data", :product_type => "pop_up"} %></li>
		<li><%= link_to "Artykuł sponsorowany", {:action => "wizard_product_data", :product_type => "sponsored_article"} %> </li>
            </ul>