
<%= render :partial => "product_options" %>
<% content_for :stylesheets do %> #step3 {background-color:orange} <% end -%>
<h1>Tworzenie aukcji</h1>
<%= render :partial => "progres_bar" %>
<% if params[:product_type]!=nil%>
 <% @controller.product_type.to_s %>
  <% form_for @product,:url => {:action => "wizard_product_create",:product_type => @controller.product_type.to_s , @controller.product_type.to_s => params[@controller.product_type]}  do |form| %>
          <%= form.error_messages %>
<h2> Dane produktu:</h2>
                  <%= render :partial => "show_#{@controller.product_type.classify}" %>
<h2> Dane aukcji:</h2>
				<%= render :partial => "show" %>

                  <%= form.submit "Utwórz" %>
  <% end %>
<% end %>


