<li><li><%= link_to "Strona główna", "/articles"  %> </li>
<li><b><%= link_to "Dodaj aukcję", "/products/wizard_product_type" %></b> </li>
<li><%= link_to "Moje aukcje", "/personal/index" %> </li>
<li><%= link_to "Moje konto", account_path  %> </li>
<li><%= link_to "Pomoc", "/help"  %></li>